@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline Get Help";
}

<!-- Start: MAIN CONTENT -->
<div class="content">
  <div class="container">
    <div class="page-header">
      <h2>NgTradeOnline<sup style="font-size: 15px;">SM</sup> frequently asked questions</h2>
    </div>
    <div class="row">
      <div class="span10 offset1">
        <div class="accordion" id="faqAccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                  <i class="icon-question-sign"></i> What does NgTradeOnline do?
                    </a>
              </h4>
            </div>
            <div id="faq1" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>
                  NgTradeOnline provide customers with an online 24/7 portal where they trade with virtual money, trades can be placed,
            manage their accounts, and research trading company information; all in one convinient
            place. Customers get VIRTUAL 100,000 Naira (NOTE: This is not real money) to trade with and see how their portfolio performs.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                  <i class="icon-question-sign"></i> What is the CSCS?
                    </a>
              </h4>
            </div>
            <div id="faq2" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  The Central Securities Clearing System is the governmental organization that is
            responsible for keeping electronic records of all share transactions that are effected
            on the floors of the Nigerian Stock Exchange and from the dematerialization process.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq3">
                  <i class="icon-question-sign"></i> What is the minimum amount required for opening an account?
                    </a>
              </h4>
            </div>
            <div id="faq3" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  There is no minimum amount required to open an account. You get VIRTUAL 100,000 Naira (NOTE: 
                  This is not real money) to trade with and see how their portfolio performs over time.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq4">
                  <i class="icon-question-sign"></i> Are there any fees?
                    </a>
              </h4>
            </div>
            <div id="faq4" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  No. There are no fees for using NgTradeOnline.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: MAIN CONTENT -->
