@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline News Details";
}

<div class="content">    
    <div class="container">
             <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- research -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-5059153330695623"
     data-ad-slot="3972414329"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <!-- Start: Product description -->
    <article class="article">
      <div class="row bottom-space">
        <div class="span12">
          <div class="page-header">
            <h2 id="topicTitle">
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          @MvcHtmlString.Create(ViewBag.Content)
        </div>      
      </div>
    </article>
    <!-- End: Product description -->
  </div>
</div>