@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline News Details";
}

<div class="content">    
  <div class="container">
    <!-- Start: Product description -->
    <article class="article">
      <div class="row bottom-space">
        <div class="span12">
          <div class="page-header">
            <h2 id="topicTitle">
              </h2>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="span10 offset1">
          @MvcHtmlString.Create(ViewBag.Content)
         </div>      
      </div>
    </article>
    <!-- End: Product description -->
  </div>
</div>