@{
    ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline News";
}
 <!-- Start: Main content -->
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>NgTradeOnline<sup style="font-size: 15px;">SM</sup> News <small>Trade Nigerian stocks</small></h1>
        </div>
        <div class="row bottom-space">            
          @foreach (var news in Model)
          {
             <div class="span6">
               @MvcHtmlString.Create(news)
               </div>
          }
          </div>
    </div>
</div>
<!-- End: Main content -->
@section scripts
{
  <script src="~/Scripts/news.js"></script>
}
