@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline Privacy";
}

<div class="content">    
  <div class="container">
    <!-- Start: Product description -->
    <article class="article">
      <div class="row bottom-space">
        <div class="span12">
          <div class="page-header">
            <h2>NgTradeOnline<sup style="font-size: 15px;">SM</sup> Privacy Policy</h2>
          </div>
        </div>
        <div class="span12 center-align">
          <img src="http://placehold.it/800x300" class="thumbnail product-snap">            
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          <h2>
            Updated and Effective as of April 1, 2010</h2>
          <p>
            This Privacy Policy applies to NgTradeOnline, Inc.'s collection and use of personally
            identifying information ("Personal Information") that we may gather when you visit
            our Website, purchase, license, or Use NgTradeOnline Services, or contact us. By
            Using NgTradeOnline Services, you expressly consent to the collection, processing,
            and use of your Personal Information according to this Privacy Policy.</p>
          <p>
            Our Terms and Conditions of Use discuss how we handle, and protect the information
            you gave to us (and any related data), as well as other matters. All provisions
            of the @Html.ActionLink("Terms and Conditions of Use", "Terms") are incorporated
            into this document by reference.</p>
          <h2>
            Definitions</h2>
          <p>
            All of the terms used in this Privacy Policy have the same meanings as are defined
            in our @Html.ActionLink("Terms and Conditions of Use", "Terms") </p>
          <h2>
            Why NgTradeOnline Collects Personal Information</h2>
          <p>
            NgTradeOnline collects your Personal Information at a variety of points, including
            when you place an order, sign up for our Service, or confer with one of our customer
            support technicians, or take part in other activities on our Website. During these
            interactions we will collect Personal Information relevant to your transaction with
            NgTradeOnline, such as your name, mailing address, phone number, e-mail address,
            employment information, and credit card, banking or billing information, along with
            information about the NgTradeOnline Services you license, such as date of purchase,
            and information relating to a support issue. NgTradeOnline will use your Personal
            Information to send you messages through, SMS/Text messaging, email, etc. concerning
            updates to NgTradeOnline Services. Please be aware that if you choose not to provide
            us with your Personal Information, we may not be able to, or may choose not to,
            make NgTradeOnline Services available to you.</p>
          <h2>
            Regarding Children</h2>
          <p>
            NgTradeOnline Services are not marketed to or intended for use by individuals who
            cannot legally bind a contract. Accordingly, NgTradeOnline does not intentionally
            gather any Personal Information about visitors or customers who are under the age
            of 18. If you are under the age of 18 or otherwise lack the capacity to enter into
            a binding contract, do not use our Website or services yourself. Please ask an adult
            to establish an account with us instead.</p>
          <h2>
            Cookies and Other Technologies</h2>
          <p>
            NgTradeOnline uses "cookies" and other technologies to collect data that enable
            us to better understand and improve the usability, performance and effectiveness
            of our Website. Cookies are files sent to your browser and stored on your computer.
            If you do not want NgTradeOnline to send cookies to your browser, you can set your
            browser options to reject cookies or to notify you when a Website tries to put a
            cookie into your browser software. Rejecting cookies may affect your ability to
            use some features of NgTradeOnline Services.
          </p>
          <p>
            NgTradeOnline gathers general information about visits to our Website, the configuration
            of your computer and your computer's interaction with NgTradeOnline, and stores
            this information in log files. NgTradeOnline uses this information to understand
            traffic on our Website, enabling us to improve the site, provide the best online
            experience possible, and improve our ability to serve our customers.
          </p>
          <h2>
            Sharing Your Personal Information</h2>
          <p>
            NgTradeOnline will not provide unaffiliated third parties with access to your email
            address or other contact information. NgTradeOnline or the NgTradeOnline Affiliates
            may, from time to time, share with you information about other services that we
            think you may find to be of interest. If you wish to change the types of communications
            you receive from us, you may do so by modifying your profile at  @Html.ActionLink(" www.ngtradeonline.com", "Index") 
            , by emailing your request to us at <a title="cs@NgTradeOnline.com"
                                                   href="mailto:cs@NgTradeOnline.com?subject=Privacy%20Policy%20Inquiry">cs@NgTradeOnline.com</a>,
            or by clicking on an appropriate link in any NgTradeOnline email communication to
            you.</p>
          <p>
            NgTradeOnline may disclose your Personal Information to third parties if we believe
            that such action is necessary to (1) comply with a law, regulation, or governmental
            or judicial warrant, rule, or order; (2) protect and defend the rights or property
            of NgTradeOnline; (3) enforce the NgTradeOnline Terms and Conditions of Use and/or
            this Privacy Policy. NgTradeOnline may also provide access to your Backup Data to
            government authorities if NgTradeOnline suspects or believes that the data contain
            child pornography or other prohibited data, or that the data or the NgTradeOnline
            Services are being used for illegal purposes. NgTradeOnline will provide access
            to your Backup Data to your surviving spouse and/or your executor upon presentation
            of a death certificate and identification which NgTradeOnline reasonably believes
            to be valid and sufficient, or in response to a court order, warrant, subpoena or
            other judicial or administrative legal process.</p>
          <h2>
            How We Communicate with You</h2>
          <p>
            NgTradeOnline may, from time to time, send you emails, or other communications containing
            the following types of information: notifications concerning the expiration of your
            account; activity status reports; service and software upgrade notices; notices
            concerning new or related services from NgTradeOnline or other providers, enhancements,
            and price changes, notifications regarding suspected unlawful or inappropriate use,
            and requests for feedback on your NgTradeOnline Services.</p>
          <h2>
            Security for Your Personal Information</h2>
          <p>
            NgTradeOnline has security measures in place to protect against the loss, misuse,
            and alteration of your Personal Information in our customer database. Personal Information
            provided to NgTradeOnline is stored in secure facilities with access restricted
            to authorized personnel only. Although we make good faith efforts to store the Personal
            Information we collect in a secure operating environment that is not accessible
            to unauthorized users, we cannot guarantee complete security.</p>
          <p>
            To provide secure credit card processing when ordering from us, orders placed on
            our Website are processed through a payment gateway which operates under its own
            privacy policy. If you choose to purchase or license NgTradeOnline Services online
            using a credit card, the credit card information is sent to NgTradeOnline using
            SSL (Secure Socket Layer) encryption, an industry-standard method for protecting
            data as it travels over the Internet, or a similar encryption technology that may
            become accepted as an industry standard or better encryption method, in the future
            ("Transmission Encryption"). To learn more about our credit card processing vendors
            and their respective privacy and other policies (which are incorporated by reference
            into the NgTradeOnline Privacy Policy and Terms or Use by reference) email us at
            <a href="mailto:cs@NgTradeOnline.com" title="cs@NgTradeOnline.com">cs@NgTradeOnline.com</a>.</p>
          <h2>
            How You Can Access Or Correct Your Personal Information</h2>
          <p>
            You can access selected Personal Information that we collect online by selecting
            the "Account" tab on our home page and logging in. We use this procedure to better
            safeguard your information. You can correct factual errors in your Personal Information
            on our Web site or by sending a request (to <a href="mailto:cs@NgTradeOnline.com">cs@NgTradeOnline.com</a>)
            that credibly shows error. To protect your privacy and security, we take commercially
            reasonable steps to verify your identity before granting access or making corrections.</p>
          <h2>
            European Personal Identifiable Information
          </h2>
          <p>
            The Personal Information we collect from individuals or equipment located in the
            European Economic Area ("European Personal Information") may be processed on servers
            in the United States.</p>
          <p>
            NgTradeOnline has selected the Safe Harbor mechanism as the means for complying
            with its obligations under the EU Data Privacy Directive 95/46/EC and Member State
            implementing legislation to provide adequate safeguards for the privacy and security
            of European Personal Information transferred out of the European Economic Area.</p>
          <h2>
            Definitions Applicable to European Personal Information</h2>
          <p>
            The following definitions apply to NgTradeOnline's policies pertaining to protection
            of privacy and security interests in European Personal Information.</p>
          <p>
            "NgTradeOnline" means NgTradeOnline, Inc., its subsidiaries and its predecessors
            and successors.
          </p>
          <p>
            "Personal Information" means any information or set of information that identifies
            or could readily be used by NgTradeOnline or its agents to identify an individual.
            Personal Information does not include information that is encoded or anonymized,
            or publicly available information that has not been combined with non-public Personal
            Information.</p>
          <p>
            "Sensitive European Personal Information" means European Personal Information that
            reveals race, ethnic origin, political opinions, religious or philosophical beliefs,
            or trade union membership, or that concerns health or sex life.</p>
          <h2>
            Privacy Principles Applicable to European Personal Information</h2>
          <p>
            NgTradeOnline will process European Personal Information in accordance with the
            following principles:</p>
          <p>
            1. <b>NOTICE</b>. Where NgTradeOnline collects Personal Information directly from
            individuals in the EEA, we will inform them about the purposes for which we collect
            and use their Personal Information, the types of non-agent third parties to which
            NgTradeOnline may disclose that information, and the choices and means, if any,
            NgTradeOnline offers individuals for limiting the use and disclosure of their Personal
            Information. Notice will be provided in clear and conspicuous language when individuals
            are first asked to provide Personal Information to NgTradeOnline, or as soon as
            practicable thereafter, and in any event before NgTradeOnline uses the information
            for a purpose other than that for which it was originally collected.
            <br />
            <br />
            2. <b>CHOICE</b>. Where NgTradeOnline collects Personal Information directly from
            individuals in the EEA, NgTradeOnline will offer individuals the opportunity to
            choose (opt-out) whether their Personal Information is (a) to be disclosed to a
            non-agent third party, or (b) to be used for a purpose other than the purpose for
            which it was originally collected or subsequently authorized by the individual.
            For Sensitive Personal Information, NgTradeOnline will give individuals the opportunity
            to affirmatively and explicitly (opt-in) consent to the disclosure of the information
            to a non-agent third party or the use of the information for a purpose other than
            the purpose for which it was originally collected or subsequently authorized by
            the individual. NgTradeOnline will provide individuals with commercially reasonable
            mechanisms to exercise their choices.
            <br />
            <br />
            3. <b>ONWARD TRANSFERS TO AGENTS</b>. NgTradeOnline will obtain assurances from
            its agents that they will safeguard Personal Information through measures consistent
            with this Privacy Policy. Examples of appropriate assurances that may be provided
            by agents include: a contract obligating the agent to provide at least the same
            level of protection as is required by the relevant Safe Harbor Principles, the agent
            registering to participate in the Safe Harbor mechanism, or another method of assurance
            deemed adequate by the European Commission. Where NgTradeOnline has knowledge that
            an agent is using or disclosing Personal Information in a manner contrary to this
            Privacy Policy, NgTradeOnline will take commercially reasonable steps to prevent
            or stop the unauthorized use or disclosure.
            <br />
            <br />
            4. <b>SECURITY</b>. NgTradeOnline will take commercially reasonable steps to protect
            Personal Information in its possession from loss, misuse and unauthorized access,
            disclosure, alteration and destruction.
            <br />
            <br />
            5. <b>DATA INTEGRITY</b>. NgTradeOnline will use Personal Information only in ways
            that are compatible with the purposes for which it was collected or subsequently
            authorized by the individual. NgTradeOnline will take commercially reasonable steps
            to ensure that Personal Information is relevant to its intended use, accurate, complete,
            and current to the extent appropriate for its intended use.
            <br />
            <br />
            6. <b>ACCESS</b>. Upon request, NgTradeOnline will grant individuals commercially
            reasonable access to Personal Information that it holds about them. In addition,
            NgTradeOnline will take commercially reasonable steps to permit individuals to correct,
            amend, or delete information that is demonstrated to be inaccurate or incomplete.
            <br />
            <br />
            7. <b>ENFORCEMENT</b>. NgTradeOnline will conduct compliance audits of its practices
            to verify adherence to this Privacy Policy. Any employee that NgTradeOnline determines
            is in violation of this Privacy Policy will be subject to disciplinary action up
            to and including termination of employment.
          </p>
          <h2>
            Dispute Resolution</h2>
          <p>
            Any questions or concerns regarding the use or disclosure of Personal Information
            should be directed to NgTradeOnline at the address given below. NgTradeOnline will
            investigate and attempt to resolve complaints and disputes regarding use and disclosure
            of Personal Information in accordance with the principles contained in this Privacy
            Policy. In order to comply with the European Union’s Safe Harbor Principles, NgTradeOnline
            commits to the resolution of complaints about your privacy and our collection or
            use of your personal information. We have committed to resolve any complaints by
            European Union citizens relating to this policy, which cannot be resolved directly
            with our company, through BBB EU Safe Harbor, a dispute resolution procedure administered
            by the Council of Better Business Bureaus, Inc.
            <br />
            <br />
            If you have any questions regarding this policy, please contact NgTradeOnline at
            the address given below.<br />
            <br />
            If you do not receive acknowledgment of your complaint or your complaint is not
            satisfactorily addressed by NgTradeOnline, you should then contact:<br />
            Council of Better Business Bureaus, Inc.<br />
            BBB EU Safe Harbor<br />
            4200 Wilson Boulevard, Suite 800<br />
            Arlington, VA 22203<br />
            Phone: 703-276-0100<br />
            Web: www.bbb.org<br />
            Email: eusafeharbor@council.bbb.org
          </p>
          <h2>
            Severability</h2>
          <p>
            This Privacy Policy shall apply to the fullest extent permitted by applicable law.
            If for any reason any provision of this Privacy Policy is held to be invalid or
            unenforceable to any extent under applicable law, then (i) such provision will be
            interpreted, construed, or reformed to the extent reasonably required to render
            it valid, enforceable, and consistent with the original intent underlying such provision
            and (ii) such invalidity or unenforceability will not affect the validity or enforceability
            of any other provision of this Privacy Policy and all such provisions shall remain
            in full force and effect.</p>
          <div>
            <h2>
              NgTradeOnline Contact information</h2>
            <p>
              If you have any questions or comments, please contact us at <a title="cs@NgTradeOnline.com"
                                                                             href="mailto:support@NgTradeOnline.com">support@NgTradeOnline.com</a>. Although
              we strongly prefer email communication, you may also send regular postal mail to:</p>
            <!-- Microformat address -->
            <div class="vcard">
              <div class="organization-name">
                NgTradeOnline</div>
              <span class="street-address">2001 Falls Blvd&nbsp;</span><span class="extended-address">Suite
                                                                         430</span><br />
              <span class="locality">Quincy</span>, <span class="region">MA</span> <span class="postal-code">
                                                                                     02169</span>
            </div>
            <p class="fineprint">
              Updated 04/01/2010</p>
          </div>                                                    
        </div>      
      </div>
    </article>
    <!-- End: Product description -->
  </div>
</div>
